<!-- ribborn -->
<section class="bg-white ribbon">
    <div class="bg-white container">
        <div class="row ">
            <div class="pt-3 bg-white ribbon-covid-19 col-md-12">
                <p class="text-center ribbon-text">Free contactless delivery. Some deliveries may be affected by local
                    Covid-19 restrictions. See checkout for details. </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 " style="border-bottom: 1px solid #d2d2d7;">
                <div class="bag-header mb-5">
                    <div class="m-5 rs-bag-header">
                        <h2 class="checkout-header-text imac-header-text text-center ">Your bag total is ₹{{total}}</h2>
                    </div>
                    <div class=" m-4 text-center bag-header-btn">
                        <a href="/shipping" class="text-white btn btn-primary checkout-btn">Check Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-4">
    <div class="container">
        {{#each bagItems}}
        <div style="border-bottom: 1px solid #d2d2d7;" class="pb-5 row">
            <div class="col-md-4 mt-3 ">
                <img class="checkout-image" src="/device-image/{{this.productDetails._id}}.jpg" alt="">
            </div>
            <div class="col-md-8 mt-3 ">
                <div style="    border-bottom: 1px solid #d2d2d7;" class="row pb-4">
                    <div class="col-md-6 ">
                        <div class="checkout-product-name-div mt-3">
                            <h3 class="checkout-product-name  ">{{this.productDetails.productname}} -
                                {{this.product.color}}</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 checkout-price-container mt-3">
                                <h3 class="text-center checkout-price">₹ {{this.product.price}}</h3>
                            </div>
                            <div class="col-md-12 checkout-remove-container">
                                <a class="mt-2 checkout-remove" href="">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-12">
                        <div class="checkout-product-name-div mt-3">
                            <h3 class="checkout-pincode-text ">Find out how soon you can get this item. <a href="">Enter
                                    pin code <i class="fas fa-chevron-down"></i></a></h3>
                        </div>
                        <div class="shipping-text-container">
                            <h2 class="item-shipping-detail-line"><i style="font-size: 17px; color: black;"
                                    class="bi bi-box"></i> <span style="font-size: 13px;">Ships in 3-5 business
                                    days.</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}


    </div>
</section>

<section>
    <div class="container mt-5 ">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class=" col-md-8 col-12">
                <div style="  border-bottom: 1px solid #d2d2d7;" class="pb-3 row">
                    <div class="col-md-6 col-6">
                        <div class="col-md-3 col-3">
                            <div class="shipping">
                                <h4 style="font-size: 17px;">Subtotal</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-3">
                            <div class="shipping">
                                <h4 style="font-size: 17px;">Shipping</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-6">
                        <div style="float: right;" class="col-md-12">
                            <div style="float: right;" class="shipping">
                                <h4 style=" color: black;font-size: 17px;">₹ {{total}}</h4>
                            </div>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="shipping">
                                <h4 style=" float: right ; color: black;  font-size: 17px;">FREE</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pb-3 mt-4 row">
                    <div class="col-md-6 col-6">
                        <div class="col-md-3 col-3">
                            <div class="shipping">
                                <h4 class="checkout-product-name">Total</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-6">
                        <div style="float: right;" class="col-md-12">
                            <div style="float: right;" class="shipping">
                                <h4 class="checkout-price">₹ {{total}}</h4>
                            </div>
                        </div>
                        <div class="bottem-checkout-btn-container ">
                            <a href="/shipping" class="btn btn-primary bottem-checkout-btn checkout-btn mt-4 ">Check Out</a>
                        </div>
                    </div>
                </div>
            </div>
</section>