<section style="border-bottom: 1px solid #d2d2d7; margin-top: 60px;" class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="bag-header favorites-margin-sm ">
                    <div class="m-5 p-3 rs-bag-header">
                        <h2 style="    font-size: 42px;line-height: 1.1; font-weight: 600;"
                            class="checkout-header-text imac-header-text bag-empty-text text-center ">Favourites</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            {{#each favoriteProduct}}
            <div class=" favorites-device-container col-md-6 col-12 ">
                <a href="/buy-product/{{this.products._id}}">
                    <div class="row favorites-row-sm ">
                        <div class="favorites-header col-md-12 col-8 mt-2">
                            <h4 class=" favorites-text-color favorites-text-sm  favorites-device-name">
                                {{this.products.productname}} </h4>
                            <span
                                class="favorites-text-color favorites-text-sm text-centerrs-favorites-item-price">₹{{this.products.productprice}}</span>
                            <div class="favorites-text-sm favorites-show-button">
                                <a id="rs-favorites-item-toggle{{this.products._id}}" class="text-primary" onclick="showMore('{{this.products._id}}')">Show more</a>
                            </div>
                        </div>
                        <div class="col-md-12 col-4 favorites-product-image-container">
                            <a href="/buy-product/{{this.products._id}}"><img class="favorites-product-image"
                                    src="/device-image/{{this.products._id}}.jpg" alt=""></a>
                        </div>
                </a>

                <div id="continue-btn-container{{this.products._id}}" class="col-md-12 continue-btn-container mt-5">
                    <a style="border-radius: 20px; width: 100%;"  onclick="removeFromFavorite('{{this.products._id}}')"
                        class="btn btn-primary text-white checkout-btn">Remove</a>
                </div>
            </div>
        </div>
        {{/each}}




    </div>
    </div>
</section>

<script>
    function showMore(id) { 
        document.getElementById('continue-btn-container'+id).style.display = "block"
        document.getElementById('rs-favorites-item-toggle'+id).innerHTML = "Show less"
        document.getElementById('rs-favorites-item-toggle'+id).onclick = showLess

    }
    function showLess() {
        document.getElementById('continue-btn-container'+id).style.display = "none"
        document.getElementById('rs-favorites-item-toggle'+id).innerHTML = "Show More"
        document.getElementById('rs-favorites-item-toggle'+id).onclick = showMore
    }
</script>

<script>
        function removeFromFavorite(deviceId) {
        $.ajax({
            url: '/remove-from-favorite/' + deviceId,
            method: "get",
            success: function (response) {
                if (response) {
                    window.location.reload()
                } else {
                    window.location.reload()
                }
            }

        })
    }
</script>