<!-- chapter navbar -->
<section id="chapter" class="chpater scrollmenu">
    <div class="container text-center">
        <div class="row">
            <div class="chapternav">
                <ul class="chpater-items">
                    <li class="chapter-item ml m-3 mr-2">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img style="object-fit: contain;" class="chapter-icon"
                                src="images/ipadpro_light__eksnhatoqzu6_large.svg" alt="">
                            <p class="chapter-label">iPad Pro</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-2 m-3 mr-2">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img style="object-fit: contain;" class="chapter-icon chapternav-item-macbook-pro-13"
                                src="images/ipadair_light__fwcr6ummn722_large.svg" alt="">
                            <p class="chapter-label">iPad Air</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-2 m-3 mr-2">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img style="object-fit: contain;" class="chapter-icon"
                                src="images/ipadmini_light__fax9y0phijyq_large.svg" alt="">
                            <p class="chapter-label">iPad mini</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-3 m-3 mr-3 ">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img class="chapter-icon chapternav-item-imac-24" style="object-fit: contain;"
                                src="images/ipad_light__fcshltpasu6i_large.svg" alt="">
                            <p class="chapter-label">iPad</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-3 m-3 mr-3 ">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img class="chapter-icon chapternav-item-imac-27" style="object-fit: contain;"
                                src="images/apple_pencil_light__b56nts0623aq_large.svg" alt="">
                            <p class="chapter-label">Apple Pencil</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-2 m-3 mr-2">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img class="chapter-icon chapternav-item-mac-pro"
                                src="images/mac_pro_light__dq2h14cvit6q_large.svg" alt="">
                            <p class="chapter-label">Mac Pro</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-2 m-3 mr-2">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img class="chapter-icon chapternav-item-mac-mini "
                                src="images/mac_mini_light__chxdj29efvrm_large.svg" alt="">
                            <p class="chapter-label">Mac mini</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-3 m-3 mr-3 ">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img class="chapter-icon chapternav-item-compare " style="object-fit: contain;"
                                src="images/ipad_compare_light__bdpd7ul1iasy_large.svg" alt="">
                            <p class="chapter-label">Compare</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-3 m-3 mr-3 ">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img class="chapter-icon chapternav-item-pro-display-xdr"
                                src="images/mac_pro_display_light__ditp43qhvlm6_large.svg" alt="">
                            <p class="chapter-label">Pro Display XDR</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-3 m-3 mr-3 ">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img class="chapter-icon chapternav-item-accessories"
                                src="images/mac_accessories_light__bow96z0024qa_large.svg" alt="">
                            <p class="chapter-label">Accessories</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-3 m-3 mr-5 chapternav-list-sm-margin ">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img class="chapter-icon chapternav-item-macos"
                                src="images/airpods_light__cpbagvnfsxea_large.svg" alt="">
                            <p class="chapter-label">AirPods</p>
                        </a>
                    </li>

                </ul>

                <button id="left-paddle" style="outline: none; border-right: 1px solid #e8e8e8;"
                    class="left-paddle paddle hidden">
                    <i class="bi bi-chevron-left paddle-icon"></i>
                </button>
                <button id="right-paddle" style="outline: none;border-left: 1px solid #e8e8e8;"
                    class="right-paddle paddle">
                    <i class="bi bi-chevron-right paddle-icon"></i>
                </button>

            </div>

        </div>
    </div>
</section>


<!-- ribborn -->
<section class="mt-0 ribbon">
    <div class="bg-light container">
        <div class="row ">
            <div class="pt-3 ribbon-covid-19 col-md-12">
                <p class="text-center ribbon-text">Shop now at the Apple Store online with many great ways to buy.
                    Get free,
                    no-contact delivery, Specialist help and <a href="#"> more <i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>




<!-- ipad banner -->
<section class="pt-4 banner">
    <div class="row">
        <div class="pt-2 col-md-12">
            <div class="text-center text-light text">
                <h2 class="banner-header-text">iPad Pro</h2>
                <h3 class="banner-text">Supercharged by the Apple M1 chip.</h3>
                <div class="mt-1 banner-links">
                    <a href="/iphone-12">Learn more <i
                            class="banner-links-icons font-weight-normal fas fa-chevron-right"></i></a>
                    <a class=" pl-2" href="">Buy <i
                            class="banner-links-icons font-weight-normal fas fa-chevron-right"></i></a>
                </div>
                <div class="banner-image-box">
                    <img style="    height: 446px; width: 1070px;" id="myImg" class="banner-image"
                        src="images/hero_ipad_pro_non_avail__fcrsmhs4b7ma_small_2x.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ipad mini banner -->
<section style="background-color: white;" class=" macos-section">
    <div class="row mt-5">
        <div class="col-md-6 macos">

            <h2 style="font-size: 45px;" class="imac-header-text  accessories-text">iPad <img class="mb-3"
                    src="/images/mini_script__bjahejz6luqa_large.png" alt=""></h2>
            <h3 class="imac-sub-text text-dark accessories-head-text">Mega power. Mini sized.</h3>
            <h4 class="imac-price">From ₹46900*</h4>
            <a href="">Learn more <i style="font-size: 9px;"
                    class="banner-links-icons font-weight-normal fas fa-chevron-right"></i></a>

        </div>
        <div class="col-md-6 mt-4">
            <img class="macos-image ipadmini-image" src="images/ipad_mini__dn6g8b0hw8om_large.jpg" alt="">
        </div>
    </div>
</section>


<!-- product listing trigger -->
<section id="iphonelist" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 product-listing">
                <div class="heading text-center ">
                    <h2 style="color: black;" class="typography-headline">Which iPad is right for you?</h2>
                    <div style="font-size: 19px;" class="m-4 banner-links text-center  ">
                    </div>
                </div>

            </div>
        </div>
        <div id="iphones" class="row m-1">
            {{#each products}}
            <div class="col-md-3 col-6 p-0 ">
                <div class="product-image-outer text-center">
                    <img class="product-image image-compare-iphone-12-pro" style="object-fit: contain;"
                        src="/device-image/{{this._id}}.jpg" alt="Product image">
                    <div class="device-title ">
                        <h3 class="device-name">{{this.productname}}</h3>
                        <p class="device-price-spec  ">{{this.productprice}}*</p>
                        <img style="width: 100%; height: 16px; object-fit: contain;" class="device-colors"
                            src="/device-all-colors/{{this._id}}.jpg" alt="">
                        <div class="product-buy">
                            <a href="/buy-product/{{this._id}}" class="device-buy-btn  btn btn-primary">Buy</a>
                        </div>
                    </div>
                    <div class="mt-5 device-details">
                        <h4 style="font-size: 17px;" class="device-details-head">{{this.display}}</h4>
                        <p class="device-details-text">Liquid Retina display1</p>
                    </div>
                    <div class="device-memory mt-5">
                        <img src="images/icon_5g__ew2qs88wie4i_large.png" alt="">
                        <p class="mt-2 device-details-text">5G capable</p>
                    </div>
                    <div class="device-chip mt-5 ">
                        <img src="/device-processor/{{this._id}}.jpg" alt="">
                        <p class="mt-2 device-details-text">{{this.processor}}</p>
                        <p class="device-subtext">Fastest chip in a smartphone</p>
                    </div>
                    <div class="device-memory mt-5">
                        <img src="images/icon_triple_camera__e6vgz42wpwom_large.png" alt="">
                        <p class="mt-2 device-details-text">Pro camera system</p>
                        <p class="device-subtext">Ultra Wide, Wide, Telephoto

                        </p>
                    </div>

                    <div class="device-memory mt-5">
                        <img src="images/compare_pencil__2ii95qsgy0y6_large.png" alt="">
                        <p class="device-subtext">Works with Apple Pencil </p>
                    </div>
                    <div class="product-link">
                        <a style="font-size: 14px; letter-spacing: 0.02em;" href="/iphone-12"> Learn more <span
                                style="font-size: 9px;" class="fas fa-chevron-right"></span></a>
                    </div>

                </div>
            </div>
            {{/each}}

        </div>

    </div>
</section>









<script>
    function screenSize() {
        if (screen.width < 735) {

            document.getElementById("myImg").src = "images/hero_ipad_pro_non_avail__fcrsmhs4b7ma_small_2x.jpg";
            var image = document.getElementById("myImg")
            image.style.objectFit = "cover";
            image.style.width = '324px';
            image.style.height = '365px';

            var image = document.getElementById("banner-two")
            image.src = "images/iphone_12_updated__jepm2xpxncuy_small_2x.jpg";

            var image = document.getElementById("banner-three").src = "images/hero_imac__dqh65mwjj04m_small_2x.jpg";

            // activat paddi 
            var scrollBar = document.getElementById('chapter')
            var hBar = scrollBar.scrollWidth > scrollBar.clientWidth;
            if (hBar) {
                document.getElementById('left-paddle').style.display = 'block'
                document.getElementById('right-paddle').style.display = 'block'
            } else {
                document.getElementById('left-paddle').style.display = 'none'
                document.getElementById('right-paddle').style.display = 'none'
            }

        } else {
            document.getElementById("dropdown-content-sm").style.display = "none";
            var image = document.getElementById("myImg")
            image.src = "images/index-banner.jpg";
            image.style.objectFit = "cover";
            image.style.width = '847px';
            image.style.height = '394px';


            var image = document.getElementById("banner-two")
            image.src = "images/iphone_12_updated__jepm2xpxncuy_large_2x.jpg";

            var image = document.getElementById("banner-three").src = "images/hero_imac__dqh65mwjj04m_large.jpg";

            

        }
    }
    if (screen.width < 735) {
        document.getElementById("myImg").src = "images/hero_ipad_pro_non_avail__fcrsmhs4b7ma_small_2x.jpg";
        var image = document.getElementById("myImg")
        image.style.objectFit = "cover";
        image.style.width = '324px';
        image.style.height = '365px';

        var image = document.getElementById("banner-two")
        image.src = "images/iphone_12_updated__jepm2xpxncuy_small_2x.jpg";

        var image = document.getElementById("banner-three").src = "images/hero_imac__dqh65mwjj04m_small_2x.jpg";

        // activat paddi 
            var scrollBar = document.getElementById('chapter')
            var hBar = scrollBar.scrollWidth > scrollBar.clientWidth;
            if (hBar) {
                document.getElementById('left-paddle').style.display = 'block'
                document.getElementById('right-paddle').style.display = 'block'
            } else {
                document.getElementById('left-paddle').style.display = 'none'
                document.getElementById('right-paddle').style.display = 'none'
            }

    } else {
        var image = document.getElementById("myImg")
        document.getElementById("myImg").src = "images/index-banner.jpg";
        image.style.objectFit = "cover";
        image.style.width = '847px';
        image.style.height = '394px';


        var image = document.getElementById("banner-two")
        image.src = "images/iphone_12_updated__jepm2xpxncuy_large_2x.jpg";

        var image = document.getElementById("banner-three").src = "images/hero_imac__dqh65mwjj04m_large.jpg";

    }
</script>
<style>
    #mySidenav {

        opacity: 1 !important;
    }

    .nav-bg {
        opacity: 1 !important;
    }
</style>

<script>
    //paddle button scrolling function 
    var leftButton = document.querySelector('.left-paddle');
    leftButton.addEventListener('click', () => {
        document.getElementById('chapter').scrollLeft -= 250;
    })
    var rightButton = document.querySelector('.right-paddle');
    rightButton.addEventListener('click', () => {
        document.getElementById('chapter').scrollLeft += 250;
    })
</script>