 <!-- chapter navbar -->
 <section id="chapter" style="background-color: #111113;" class="chpater scrollmenu">
    <div class="container text-center">
        <div class="row chapter-iphone">
            <div class="chapternav">
                <ul class="chpater-items ">
                    <li class="chapter-item ml m-3 mr-2">
                        <a style="text-decoration: none;" href="buy-product.html" class="chapternav-link">
                            <img class="chapter-iphone-12-pro chapter-icon"
                                src="images/iphone_12_pro_dark__c1xodf0hb1w2_large.svg" alt="">
                            <p class="text-white chapter-label">iPhone 12 Pro</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-2 m-3 mr-2">
                        <a style="text-decoration: none;" href="buy-product.html" class="chapternav-link">
                            <img class="chapter-iphone-12 chapter-icon "
                                src="images/iphone_12_dark__d7asodlag7e6_large.svg" alt="">
                            <p class="text-white chapter-label">iPhone 12</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-2 m-3 mr-2">
                        <a style="text-decoration: none;" href="buy-product.html" class="chapternav-link">
                            <img class="chapter-iphone-se chapter-icon"
                                src="images/iphone_se_dark__b1b8q1iya5o2_large.svg" alt="">
                            <p class="text-white chapter-label">iPhone SE</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-3 m-3 mr-3 ">
                        <a style="text-decoration: none;" href="buy-product.html" class="chapternav-link">
                            <img class="chapter-iphone-11 chapter-icon "
                                src="images/iphone_11_dark__di5n0jory1me_large.svg" alt="">
                            <p class="text-white chapter-label">iPhone 11</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-3 m-3 mr-3 ">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img class="chapter-iphone-xr chapter-icon chapternav-item-imac-27"
                                src="images/iphone_xr_dark__ft3blnh7c6q2_large.svg" alt="">
                            <p class="text-white chapter-label">iPhone XR</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-2 m-3 mr-2">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img class="chapter-iphone-accessories chapter-icon "
                                src="images/iphone_acc_dark__g5kvwtvsk2qa_large.svg" alt="">
                            <p class="text-white chapter-label">Accessories</p>
                        </a>
                    </li>
                    <li class="chapter-item ml-3 m-3 mr-5 chapternav-list-sm-margin">
                        <a style="text-decoration: none;" href="" class="chapternav-link">
                            <img class="chapter-icon chapter-ios "
                                src="images/iphone_ios_dark__bx23cu2kt8mu_large.svg" alt="">
                            <p class="chapter-label text-white">iOS 14</p>
                        </a>
                    </li>



                </ul>

                <button id="left-paddle"
                    style="outline: none; background-image: linear-gradient(269deg , #000000, #222222); border-right: 1px solid rgb(0 0 0);"
                    class="left-paddle paddle hidden">
                    <i class="text-white bi bi-chevron-left paddle-icon"></i>
                </button>
                <button id="right-paddle"
                    style="background-image: linear-gradient( 90deg , #000000, #222222); outline: none;border-left: 1px solid rgb(0 0 0);"
                    class="right-paddle paddle">
                    <i class="text-white bi bi-chevron-right paddle-icon"></i>
                </button>

            </div>

        </div>
    </div>
</section>

<!-- ribborn -->
<section style="background-color: #1d1d1f;" class="mt-0 ribbon ">
    <div class=" container">
        <div class="row ">
            <div style="background-color: #1d1d1f;" class="pt-3 ribbon-covid-19 col-md-12">
                <p class="text-center text-white ribbon-text">Shop now at the Apple Store online with many great
                    ways to buy.
                    Get free,
                    no-contact delivery, Specialist help and <a href="#"> more <i
                            class="fas fa-chevron-right"></i></a></p>
            </div>
        </div>
    </div>
</section>

<!-- iphone12,12mini banner -->
<section style="background-color:#f2f2f2" class="pt-5">
    <div class="row">
        <div class="pt-2 col-md-12">
            <div class="text-center text-light text">
                <h3 class="iphone-sub-text imac-sub-text text-dark"> iPhone 12 and iPhone 12 mini</h3>
                <h2 class="iphone-header-text imac-header-text ">Blast past fast.</h2>
                <h4 class="imac-price">From ₹69900* before trade‑in</h4>
                <p><a href="#iphonelist" class="buy-btn  btn btn-primary">Buy</a> </p>
                <div class="mt-1 banner-links">
                    <a href="/iphone-12">Learn more <i
                            class="banner-links-icons font-weight-normal fas fa-chevron-right"></i></a>
                </div>
                <div class="p-5 banner-image-box imac-banner">
                    <img id="imacImage" class="iphone-12 imac-image" src="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- iphone 12 pro banner -->
<section style="background-color:#000000" class="pt-5">
    <div class="row">
        <div class="pt-2 col-md-12">
            <div class="text-center text-light text">
                <h3 class="imac-sub-text text-white">iPhone 12 Pro and iPhone 12 Pro Max</h3>
                <h2 class="imac-header-text text-white ">It’s a leap year.</h2>
                <h4 class="imac-price text-white">From ₹119900* before trade‑in</h4>
                <p><a href="/buy-product" class="buy-btn btn mt-3 btn-primary">Buy</a> </p>
                <div class="mt-1 banner-links">
                    <a href="/iphone-12">Learn more <i
                            class="banner-links-icons font-weight-normal fas fa-chevron-right"></i></a>
                </div>
                <div class="p-5 banner-image-box imac-banner">
                    <img id="iphone12proImage" class="iphone-12-pro imac-image" src="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- product listing trigger -->
<section id="iphonelist" style="background-color: #fafafa;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 product-listing">
                <div class="heading text-center ">
                    <h2 class="typography-headline">Which iPhone is right for you?</h2>
                    <div style="font-size: 19px;" class="m-4 banner-links text-center  ">
                        <a href="">Compare all iPhone models <i style="font-size: 10px;"
                                class="banner-links-icons font-weight-normal fas fa-chevron-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div id="iphones" class="row m-1">
              {{#each products}}
            <div class="col-md-3 col-6 p-0 ">
                <div class="product-image-outer text-center">
                    <img class="product-image image-compare-iphone-12-pro"
                        src="/device-image/{{this._id}}.jpg" alt="Product image">
                    <div class="device-title ">
                        <h3 class="device-name">{{this.productname}}</h3>
                        <p class="device-price-spec  ">{{this.productprice}}*</p>
                        <img style="width: 100%; height: 16px; object-fit: contain;" class="device-colors" src="/device-all-colors/{{this._id}}.jpg"
                            alt="">
                        <div class="product-buy">
                            <a href="/buy-product/{{this._id}}" class="device-buy-btn  btn btn-primary">Buy</a>
                        </div>
                    </div>
                    <div class="mt-5 device-details">
                        <h4 style="font-size: 17px;" class="device-details-head">{{this.display}}</h4>
                        <p class="device-details-text">all-screen OLED display1</p>
                    </div>
                    <div class="device-memory mt-5">
                        <img src="images/icon_5g__ew2qs88wie4i_large.png" alt="">
                        <p class="mt-2 device-details-text">5G capable</p>
                    </div>
                    <div class="device-chip mt-5 ">
                        <img src="/device-processor/{{this._id}}.jpg" alt="">
                        <p class="mt-2 device-details-text">{{this.processor}}</p>
                        <p class="device-subtext">Fastest chip in a smartphone</p>
                    </div>
                    <div class="mt-5 device-details">
                        <img src="images/icon_battery__d3vjqufl1mgm_large_2x.png" style="width: 51px; height: 25px;" alt="">
                        <p class="mt-2 device-subtext">{{this.battery}}</p>
                    </div>
                    <div class="device-memory mt-5">
                        <img src="images/icon_triple_camera__e6vgz42wpwom_large.png" alt="">
                        <p class="mt-2 device-details-text">Pro camera system</p>
                        <p class="device-subtext">Ultra Wide, Wide, Telephoto

                        </p>
                    </div>
                    <div class="device-chip mt-5 ">
                        <img src="images/icon_lidar__f6bhejsvbdqy_large.png" alt="">
                        <p class="mt-2 device-details-text">LiDAR Scanner</p>
                        <p class="device-subtext">For Night mode portraits and next‑level AR </p>
                    </div>
                    <div class="device-memory mt-5">
                        <img src="images/icon_magsafe__ibh1kzdigzqm_large.png" alt="">
                        <p class="mt-2 device-details-text">Compatible with</p>
                        <p class="device-subtext">MagSafe accessories </p>
                    </div>
                    <div class="product-link">
                        <a style="font-size: 14px; letter-spacing: 0.02em;" href="/iphone-12"> Learn more <span
                                style="font-size: 9px;" class="fas fa-chevron-right"></span></a>
                    </div>

                </div>
            </div>
   {{/each}}

        </div>
     
    </div>
</section>


<!--  banner ios -->
<section style="background-color: #f2f2f2;" class="pt-5 pb-5 ">
    <div class="ios-container  ml-5 ">
        <div class="ios-banner row">
            <div class="col-md-12 ">
                <h2 style="bottom: 73px;" class="ios-header ios-header-text banners-header-text">iOS 15</h2>
                <h3 style="top: 44px;" class="ios-header ios-sub-text banners-text">In touch. In the moment.</h3>
            </div>
        </div>
    </div>
</section>




<style>
    .left-paddle {
        display: none;
    }

    .right-paddle {
        display: none;
    }
</style>



<script>
    function screenSize() {


        //paddile change when based on scrollbar active or not

        let scrollBar = document.getElementById('chapter')
        let hBar = scrollBar.scrollWidth > scrollBar.clientWidth;
        if (hBar) {
            document.getElementById('left-paddle').style.display = 'block'
            document.getElementById('right-paddle').style.display = 'block'
        } else {
            document.getElementById('left-paddle').style.display = 'none'
            document.getElementById('right-paddle').style.display = 'none'
        }


        //iphone banner
        if (screen.width < 735) {
            var imacImage = document.querySelector("#imacImage").src = "images/iphone_12__d51ddqcc7oqe_small_2x.jpg";
            document.querySelector("#iphone12proImage").src = "images/iphone_12_pro__f7wokw1n4lm6_small_2x.jpg";
            //ios image
            document.querySelector("#ios-banner").src = "images/ios15_preview__f7lrpcnc3eum_small_2x.jpg";

        }
        else {
            var imacImage = document.querySelector("#imacImage").src = "images/iphone_12__d51ddqcc7oqe_large.jpg";
            document.querySelector("#iphone12proImage").src = "images/iphone_12_pro__f7wokw1n4lm6_large.jpg";
            //ios-image
            document.querySelector("#ios-banner").src = "images/ios15_preview__f7lrpcnc3eum_large_2x.jpg";

        }

    }

    // activat paddi 
    var scrollBar = document.getElementById('chapter')
    var hBar = scrollBar.scrollWidth > scrollBar.clientWidth;
    if (hBar) {
        document.getElementById('left-paddle').style.display = 'block'
        document.getElementById('right-paddle').style.display = 'block'
    } else {
        document.getElementById('left-paddle').style.display = 'none'
        document.getElementById('right-paddle').style.display = 'none'
    }

    //iphone banner
    if (screen.width < 735) {
        var imacImage = document.querySelector("#imacImage").src = "images/iphone_12__d51ddqcc7oqe_small_2x.jpg";
        document.querySelector("#iphone12proImage").src = "images/iphone_12_pro__f7wokw1n4lm6_small_2x.jpg";

    }
    else {
        var imacImage = document.querySelector("#imacImage").src = "images/iphone_12__d51ddqcc7oqe_large.jpg";
        document.querySelector("#iphone12proImage").src = "images/iphone_12_pro__f7wokw1n4lm6_large.jpg";

    }

</script>
<style>
    #mySidenav {

        opacity: 1 !important;
    }

    .nav-bg {
        opacity: 1 !important;
    }
</style>

<script>
    //paddle button scrolling function 
    var leftButton = document.querySelector('.left-paddle');
    leftButton.addEventListener('click', () => {
        document.getElementById('chapter').scrollLeft -= 250;
    })
    var rightButton = document.querySelector('.right-paddle');
    rightButton.addEventListener('click', () => {
        document.getElementById('chapter').scrollLeft += 250;
    })
</script>

